@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
body {
	overflow:overlay ;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
	
  }
/* Handle */
::-webkit-scrollbar-thumb {
	background: #1DB9C3;
	border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #5C7AEA;
  }
.navMain {
	position: relative;
	width: 100%;
}
.navMain .content {
	box-shadow: 0px 0px 140px 1px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 50px;
}

.navLinks li a {
	color: black;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	margin-left: 50px;
	text-transform: capitalize;
	font-family: "DM Sans", sans-serif;

}
.navMain .navLinks {
	display: inline-flex;
	list-style: none;
}
.logo {
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 1px;
	font-family: "DM Sans", sans-serif;

}
.icon {
	color: rgb(0, 0, 0);
	font-size: 20px;
	cursor: pointer;
	display: none;
}
.cancel-btn {
	position: absolute;
	right: 30px;
	top: 20px;
}



@media (max-width: 800px) {
	.navMain .navLinks {
		position: fixed;
		top: 0;
		left: -100%;
		display: block;
		height: 100vh;
		background: rgb(255, 255, 255);
		max-width: 400px;
		width: 100%;
		color: black;
		padding: 50px 0;
		text-align: center;
		transition: all 0.3s ease;
		z-index: 5;
	}
	.navMain .navLinks.active {
		left: 0%;
	}

	.navLinks li {
		margin-top: 45px;
	}
	.navLinks li a {
		font-size: 25px;
		font-weight: 500;
		margin: 0;
	}
	.icon {
		display: block;
	}
	body.noscroll {
		overflow: hidden;
	}
}
